<% if @articles.exists? %>
  <% @articles.each do |article| %>
    <div class="card">
      <% unless article.urltoimage.blank? %>
        <%= image_tag(article.urltoimage, class: "card-img-top", alt: article.title) %>
      <% end %>
      <div class="card-body">
        <h4 class="card-title border-bottom"><%= article.title %></h4>
        <p class="card-text"><%= article.description %></p>
        <p class="card-text"><small class="text-muted">Published on <%= article.published_at.to_formatted_s(:long_ordinal) %></small></p>
        <footer class="footer">
            <a href="https://newsapi.org">Powered by News API</a>,
            Via <%=link_to article.outlet_name, article.url%>
        </footer>
      </div>
    </div>
  <% end %>

  <%= render 'bricklayer_layouts/data_value.html.erb', last_attribute: @articles.last.published_at.to_s %>
<% end %>
